# Name		:IJGRower_
# Author	:Timo Rantalainen
# Plugin configuration file for IJGrower
#
Plugins>Timo, "Test 3D xCorr", ijGrower.IJ3DCorr
Plugins>Timo, "Seeded 3D Region Grow", ijGrower.IJGrower
Plugins>Timo, "Seeded 3D Region GrowT2", ijGrower.IJGrowerT2
Plugins>Timo, "Seeded 3D Region Grow With Variance", ijGrower.IJGrowerVariance
Plugins>Timo, "Seeded 3D Region Grow With LBP", ijGrower.IJGrowerLBP
Plugins>Timo, "Seeded 3D Region Grow With LBP and seed searching with LBP", ijGrower.IJGrowerLBPXCorrSeed
Plugins>Timo, "Check XCorr seed", ijGrower.IJGrowerLBPXCorrSeedCheck
Plugins>Timo, "Check XCorr seed3D", ijGrower.IJGrowerLBPXCorrSeed3D
Plugins>Timo, "Check XCorr seed3DSag", ijGrower.IJGrowerLBPXCorrSeed3DSag
Plugins>Timo, "Variance filter", ijGrower.IJVariance
Plugins>Timo, "Rotation invariant uniform LBP", ijGrower.IJLBP
Plugins>Timo, "Test LBP on imageStack", ijGrower.IJVisualizeStack
Plugins>Timo, "Test variance on imageStack", ijGrower.IJVisualizeVarianceStack
Plugins>Timo, "Test horizontal", ijGrower.IJVisualizeHorizontal