# Name		:IJGRower_
# Author	:Timo Rantalainen
# Plugin configuration file for IJGrower
#

Plugins>Timo, "Seeded 3D Region Grow", ijGrower.IJGrower
Plugins>Timo, "Seeded 3D Region Grow With Variance", ijGrower.IJGrowerVariance
Plugins>Timo, "Seeded 3D Region Grow With LBP", ijGrower.IJGrowerLBP
Plugins>Timo, "Variance filter", ijGrower.IJVariance
Plugins>Timo, "Rotation invariant uniform LBP", ijGrower.IJLBP
Plugins>Timo, "Test LBP on imageStack", ijGrower.IJVisualizeStack
Plugins>Timo, "Test variance on imageStack", ijGrower.IJVisualizeVarianceStack
Plugins>Timo, "Test horizontal", ijGrower.IJVisualizeHorizontal